<!DOCTYPE html>
<html>
<head>
    <title>添加新订单</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
</head>
<body>
    <h1>当前房间状况</h1>
    <table>
        <thead>
        <tr>
            <th scope="row">房间号</th>
            <th>房间容量</th>
            <th>{{ day1 }}</th>
            <th>{{ day2 }}</th>
            <th>{{ day3 }}</th>
            <th>{{ day4 }}</th>
            <th>{{ day5 }}</th>
            <th>{{ day6 }}</th>
            <th>{{ day7 }}</th>
        </tr>
        </thead>
        <tbody>
        {% for i in results %}
        <tr>
            <th scope="row">{{ i.0 }}</th>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            <td>{{ i.4 }}</td>
            <td>{{ i.5 }}</td>
            <td>{{ i.6 }}</td>
            <td>{{ i.7 }}</td>
            <td>{{ i.8 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>增加订单</h1>
    <form action="/submit/" method="post">
        {% csrf_token %}
        <label for="rid">房间号</label>
        <input type="number" id="rid" name="rid">
        <label for="phone">电话号码</label>
        <input type="text" id="phone" name="phone">
        <label for="check_in">入住日期</label>
        <input type="date" id="check_in" name="check_in">
        <label for="check_out">退房日期</label>
        <input type="date" id="check_out" name="check_out">
        <br>
        <input type="submit" value="提交">
    </form>
    <form>
        <input type="button" name="Submit" onclick="location.href='http://127.0.0.1:8000/main'" value="返回上一页">
    </form>
<div>
    {{ error }}
</div>
</body>
</html>